.alarm-information {
    position: relative;
    width: 1428px;
    height: 1017px;
    background-color: #050f0f;
  }

.alarm-information .calendar-week {
    position: absolute;
    width: 460px;
    height: 75px;
    top: 357px;
    left: 107px;
  }

.alarm-information .rectangulo--container {
    position: relative;
    height: 75px;
    border-radius: 5px;
  }
  
  .alarm-information .rectangle-2 {
    width: 460px;
    height: 75px;
    top: 0;
    left: 0;
    background-color: #22272b;
    opacity: 0.5;
    position: absolute;
    border-radius: 5px;
  }
  
  .alarm-information .ellipse {
    position: relative;
    width: 50px;
    height: 50px;
    top: 12px;
    left: 10px;
    background-color: #00000033;
    border-radius: 25px;
    opacity: 0.5;
  }
  
  .alarm-information .ellipse-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 12px;
    
    background-color: #00000033;
    border-radius: 25px;
  }
  
  .alarm-information .ellipse-3 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 12px;
    
    background-color: #00000033;
    border-radius: 25px;
  }
  
  .alarm-information .ellipse-4 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 12px;
    
    background-color: #00000033;
    border-radius: 25px;
  }
  
  .alarm-information .ellipse-5 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 12px;
    
    background-color: #00000033;
    border-radius: 25px;
  }
  
  .alarm-information .ellipse-6 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 12px;
    
    background-color: #00000033;
    border-radius: 25px;
  }
  
  .alarm-information .ellipse-7 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 12px;
    
    background-color: #00000033;
    border-radius: 25px;
    opacity: 0.5;
  }
  
  .alarm-information .text-wrapper {
    left: 22px;
    position: absolute;
    height: 30px;
    top: 21px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alarm-information .text-wrapper-2 {
    left: 83px;
    position: absolute;
    height: 30px;
    top: 21px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alarm-information .text-wrapper-3 {
    left: 152px;
    position: absolute;
    height: 30px;
    top: 21px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alarm-information .text-wrapper-4 {
    left: 214px;
    position: absolute;
    height: 30px;
    top: 21px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alarm-information .text-wrapper-5 {
    left: 282px;
    position: absolute;
    height: 30px;
    top: 21px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alarm-information .text-wrapper-6 {
    left: 348px;
    position: absolute;
    height: 30px;
    top: 21px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .alarm-information .text-wrapper-7 {
    left: 412px;
    position: absolute;
    height: 30px;
    top: 21px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }