body{
    margin: 8px;
}

.alarm-container {
    position: relative;
    width: 240px;
    height: 100px;
    background-color: #22272b;
    border-radius: 5px;
}


.alarm-container .Time-set {

    top: 17px;
    left: 12px;
    font-family: "Poppins-Medium", Helvetica;
    line-height: normal;
}

.alarm-container .time--day--night {

    top: 28px;
    left: 68px;
    font-family: "Poppins-Medium", Helvetica;
    line-height: normal;
}

.alarm-container .sphere-container {

    height: 30px;
    top: 35px;
    left: 159px;
    background-color: #12d60e33;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.alarm-container .sphere-container.left {
    background-color: #D60E0E33;

}

.alarm-container .sphere {

    top: 3px;
    left: 29px;
    background-color: #d9d9d9;
    border-radius: 13px;
    transition: transform 0.3s ease;
}

.alarm-container .sphere.left {
    transform: translateX(-25px);
}

.alarm-container .bell-fill {

    top: 66px;
    left: 10px;
}

.alarm-container .Time-set-2 {

    top: 68px;
    left: 39px;
    opacity: 0.6;
    font-family: "Poppins-Medium", Helvetica;
    line-height: normal;
}
